asttokens==2.4.1
certifi==2023.11.17
cfgv==3.4.0
charset-normalizer==2.0.12
comm==0.2.1
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.13.1
identify==2.5.33
idna==3.6
ipykernel==6.29.0
ipython==8.21.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
nodeenv==1.8.0
packaging==23.2
parso==0.8.3
pbr==6.0.0
pexpect==4.9.0
platformdirs==4.1.0
pre-commit==3.6.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.13.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.31.0
setuptools==69.0.2
sip==6.8.1
six==1.16.0
stack-data==0.6.3
stevedore==5.1.0
tornado==6.4
traitlets==5.14.1
urllib3==1.26.18
virtualenv==20.25.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.13
